
:root{
    --color-primary: magenta;
}

body{
    padding: 2em 0;
    font-size: 16px;
    background: #111;
    color: #fff;
    font-family: 'Blinker', sans-serif;
}

h1{
    text-align: center;
    text-shadow: 3px 3px var(--color-primary);
}

.btn-wrap, .btn-clear, input, input[type=submit], .btn-starred, .card{
    margin: .5em;
    border-radius: .5em;
    overflow: hidden;
}

.bg-light, .bg-light:hover, .bg-dark:hover{
    background-color: #444;
}


.btn-wrap, .btn-clear, input, input[type=submit], .btn-starred, .bg-dark{
    background-color: #222;
}



.btn-wrap:hover, .btn-clear:hover, input[type=submit]:hover, .btn-starred:hover{
    background-color: #444;
}

.btn-wrap{
    display: inline-block;
}

.btn-search{
    text-transform: capitalize;
}

button, input[type=submit], input[type=text]{
    font-family: 'Blinker', sans-serif;
}


.btn, input, input[type=submit], .card-info{
    color: #fff;
    padding: 1em;
}

.btn-close{
    border-left: 1px solid black;
}

.row{
    margin-bottom: 1em;
}

.row-center{
    display: flex;
    justify-content: center;
}

#results{
    column-gap: 1em;
    padding: .5em;
}

.card{
    cursor: pointer;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 1024px) {
    #results {
        column-count: 4;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    #results {
        column-count: 3;
    }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
    #results {
        column-count: 2;
    }
}