
:root{
    --color-primary:#ff00cc;
    --primary-gradient: linear-gradient(45deg, #ff00cc, #333399); 
    --dark-gradient: linear-gradient(to right, #232323, #101010);
    --danger-gradient: linear-gradient(45deg,#c31432, #240b36); 
    --light-gradient: linear-gradient(to right, #404040, #242424);
}

body{
    font-size: 15px;
    background-color: #000;
    color: #fff;
    font-family: 'Blinker', sans-serif;
}

/*---------------Layout & Padding---------------*/
.search-container{
    padding-top: 2em;
}

.container{
    min-height: 300px;
    background: linear-gradient(180deg, #222, #000) no-repeat;
    background-size: 100% 300px;
    padding-bottom: 2em;
}

.row{
    margin-bottom: 1em;
}

.btn, input, .card-info{
    padding: 1em;
}

#results{
    column-gap: 1em;
    padding: .5em;
}

/*---------------Typography---------------*/

h1{
    text-shadow: 3px 3px var(--color-primary);
    text-align: center;
    font-weight: 800;
    margin-bottom: 14px;
}

h2{
    font-weight: 700;
    color: #444;
}

.text-center{
    text-align: center;
}

button, input[type=text]{
    font-family: 'Blinker', sans-serif;
}

.btn, input, .card-info{
    color: #fff;
}

/*---------------Buttons & Forms---------------*/
.btn{
    text-transform: capitalize;
}

.wrap{
    display: inline-block;
}

.wrap, .btn{
    box-shadow: 5px 5px #000;
    background-color: #222;
    border-radius: .5em;
    overflow: hidden;
    margin: .5em .25em;
}

.btn-copy{
    box-shadow: none;
    background: none;
    border-top: 1px solid #444;
    margin: 0;
    border-radius: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
}

.btn-copy:hover{
    background: var(--primary-gradient);

}

.btn-right{
    border-left: 1px solid black;
}

.btn-color{
    background: var(--primary-gradient);
}

.btn-star{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.25em;
    background: var(--primary-gradient);
    border-radius: 0 .5em 0 1em;
}

.btn-icon{
    margin-left: .5em;
}

/*Hovers*/
.btn:hover, .wrap:hover, input[type=text]:focus, input[type=text]:focus ~ .btn-add{
    background-color: #444;
}

/*.btn remove styling for wrapped items and stars*/
.wrap .btn, .btn-star{
    box-shadow: none;
    margin: 0;
}

.wrap .btn, .wrap .btn:hover{
    border-radius: 0;
    background: none;
}

/*Inputs*/
.input-wrap, form{
    display: flex;
}

.input-wrap{
    width: 100%;
}

input[type=text]{
    display: inline-block;
    width: 100%;
}

/*---------------Cards---------------*/
.card-wrap{
    position: relative;
    overflow: hidden;
    background: var(--primary-gradient);
    padding-bottom: 0;
    margin-bottom: 1em;
    border-radius: .5em;
}

.card{
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: .5em .8em 0em 0em;
    overflow: hidden;
}

/* bg-light:hover, .bg-dark:hover */
.bg-light, .card-click:hover{
    background: var(--light-gradient);
}

.bg-dark{
    background: var(--dark-gradient);
}

/*Images & Play Buttons*/
.img-wrap{
    position: relative;
}

.img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-play{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-play span{
    background: var(--primary-gradient);
    padding: 1em;
    border-radius: 50%;
}

.bg-dark .card-click:hover .img-play{
    opacity: 1;
}

/*Item Info*/
.card-info{
    clear: both;
    overflow: auto;
}

.card-info span{
    display: inline-block;
    width: 50%;
    float: left;
}

.card-info span:not(:first-child){
    text-align: right;
}


/*---------------Animations---------------*/
/* Pop from Hover CSS*/
@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

.hvr-pop {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
  

/*---------------Media Queries---------------*/
@media only screen and (min-width: 1024px) {
    h1{
        font-size: 4em;
    }

    #results {
        column-count: 4;
    }

    .search-container{
        width: 60%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    #results {
        column-count: 3;
    }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
    #results {
        column-count: 2;
    }
}